<!DOCTYPE html>
<html>

<head>
    <title>Trabajo Final</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <nav>
        <a href="/">Inicio</a> |
        <a href="/productos">Productos</a> |
        <a href="/nuevo">Agregar</a> |
        <a href="/contacto">Contacto</a>
    </nav>

    <hr>

    {{{body}}}

</body>

</html>