<h2>Contacto</h2>

{{#if ok}}
<p>Mensaje enviado correctamente</p>
{{/if}}

<form method="POST" action="/contacto">
    <input name="email" type="email" placeholder="Tu email" required>
    <textarea name="mensaje" placeholder="Mensaje" required></textarea>
    <button>Enviar</button>
</form>
<img src="img/foto4.png" alt="Tecnologías usadas" width="500" />