<section class="hero">
    <h1>BIENVENIDOS A MI PROYECTO WEB</h1>
    <p> Esta página fue desarrollada utilizando Node.js, Express y SQLite.
        El sistema permite gestionar productos mediante operaciones
        (crear, leer, editar y eliminar), implementando una base de datos
        relacional y renderizado dinámico con Handlebars.</p>

    <img src="img/foto.png" alt="Tecnologías usadas" width="500" />

    <br><br>

    <a href="/productos" class="btn">Ver productos</a>

    <p>
        Este boton te llevara directo a la sección productos.
    </p>

    <p>
        Si tiene algún error o consulta, vaya al apartado de contacto.
    </p>
</section>