body {
    font-family: Arial;
    margin: 0;
    min-height: 200vh;
}

nav {
    background: black;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px;
}

.btn {
    background: black;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #ccc;
    padding: 8px;
}

.home-img {
    width: 500px;
    margin-top: 30px;
    border-radius: 10px;
}